{% extends "index.html" %}




{% block content %}


<h1>"User Registration"</h1>


<form action="/register" method="post">
    <label for = "username">
        Enter User name:
    </label>
        <input type="text" name="user" id = "username"/>
    <br/>
    {% if error !="" %}
      <p class='error'>{{ username_error }}</p>
    {% endif %}

    <label for = "pw1">
        Enter password:

    </label>
        <input type="text" name="password1" id = "pw1"/>
    <br/>

    <label for = "pw2">
        Re-enter password:
    </label>
        <input type="text" name="password2" id = "pw2"/>

    <br/>
    
    <input type="submit" value="Register"/>
</form>





{% if error !="" %}
  <p class='error'>{{ error }}</p>
{% endif %}



{% endblock %}